section.repository-list {
  margin: 40px;
  text-align: center;

  h1 {
    margin-bottom: 16px;
    color: #017451;
  }

  ul {
    list-style-type: none;
    display: flex;

    li {
      background-color: #313131;
      display: block;
      width: 300px;
      height: 200px;
      padding: 20px;
      border-right: 4px solid #222222;
      transition: all .5s ease;

      &+li {
        margin-left: 10px;
      }

      &:hover {
        height: 220px;
      }

      strong {
        color: #ffffff;
      }

      p {
        font-size: 14px;
        color: #919191;
        margin-top: 8px;
        }

      a {
        display: inline-block;
        text-decoration: none;
        margin-top: 16px;
        color: #49f574;
        }
      }
    }
  }